* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}

body {
    height: 1040px;
    width: 100%;
}

header {
    height: 50px;
    background: rgba(247, 144, 0, 0.925);
    margin-bottom: 50px;
}

.card {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    background: #e7e6e6;
    margin-bottom: 20px;
}

.card:last-child {
    margin-bottom: 50px;
}

.step {
    position: absolute;
    background-color: rgba(247, 144, 0, 0.925);
    color: #fff;
    font-size: 13px;
    padding: 0 2px 2px 2px;
}

.card-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 100%;
    background-size: cover;
    background-position: bottom;
}

.card-title {
    width: 100%;
    padding-top: 15px;
    margin-left: 10px;
    font-size: 18px;
}

.card-text {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

footer {
    height: 50px;
    background-color: gray;
}

  @media screen and (min-width:769px) {
    main {
      display: flex;
      width: 960px;
      margin: 0 auto
    }
    .card {
      margin-bottom: 50px;
      margin-right: 30px;
      width: 300px;
      padding: 10px;
    }
  }

  